body {
    font-family:'Arial', sans-serif;
    background-image: url('C:/Users/mauri/Documents/lab1/Images/Background.jpg'); /* Add your image here */
    background-size:contain; /* This makes the image cover the entire background */
    background-position:center; /* Center the image */
    margin:0;
    padding:20px;
}

header {
    text-align: Center;
    margin-bottom: 20px;
}

a {
    color: black;
	transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
	color: pink;
	text-decoration: underline;
}

.high {
	background-color:red;color:green
	}
p {
	background-color:orange;color:teal
	}

button:hover {
    background-color: lightblue;
    transform: scale(1.05); /* Slightly enlarges the button */
}

image-container:hover  {
    transform: scale(1.1); /* Zooms in on hover */
    filter: grayscale(50%); /* Applies grayscale effect */
}

.mainpic {
	height: 300px;
	Width: 500px;
	border-radius: 10px;
	border: solid;
}

.picmain {
	Height: 300px;
	Width: auto;
}

img {
	height: 200px;
	width: 200px;
}

table {
            margin: auto; /* Center the table */
            border-collapse: collapse; /* Optional: for better spacing */
        }
        th, td {
            border: 1px solid black; /* Add border to cells */
            padding: 10px; /* Add some padding */
            text-align: center; /* Center the text in cells */
			family-font: Arial;
			color: purple;
        }