body {
    font-family:'Arial', sans-serif;
    background-image: url('Images/Background.jpg');
    background-size:contain;
    background-position:center;
    margin:0;
    padding:20px;
}

header {
    text-align: Center;
    margin-bottom: 20px;
}

a {
    color: black;
	transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
	color: pink;
	text-decoration: underline;
}

.high {
	background-color:red;color:green
	}
p {
	background-color:orange;color:teal
	}

button:hover {
    background-color: lightblue;
    transform: scale(1.05);
}

image-container:hover  {
    transform: scale(1.1); 
    filter: grayscale(50%); 
}

.mainpic {
	height: 300px;
	Width: 500px;
	border-radius: 10px;
	border: solid;
}

.picmain {
	Height: 300px;
	Width: auto;
}

img {
	height: 200px;
	width: 200px;
}

table {
            margin: auto; 
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center; 
	family-font: Arial;
	color: purple;
        }
